<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-5.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">



    <!-- 위의 빈 사용을 대체방법(Spring 5 이후) 
    <context:property-placeholder location="classpath:jdbcConfig/jdbc.properties"/>
    -->
    <!-- 2-2. HikariConf -->
	<!-- 
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="${jdbcHikari.driverClassName}"></property>
        <property name="jdbcUrl" value="${jdbcHikari.jdbcUrl}"></property>
        <property name="username" value="${jdbcHikari.username}"></property>
        <property name="password" value="${jdbcHikari.password}"></property>
    </bean>
     -->
   <bean id="dataSourceSpied"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">          
    <property name="driverClassName" value="org.mariadb.jdbc.Driver"></property>
        <property name="url" value="jdbc:mariadb://127.0.0.1/company"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1234"></property>    
  </bean>     
    

    <bean id="dataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
        <constructor-arg ref="dataSourceSpied" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation"
                  value="classpath:mybatis-config.xml" />
        <property name="mapperLocations">
            <value>classpath:mappers/**/*Mapper.xml</value>
        </property>
    </bean>


    <!-- 인터페이스방식  -->
    <mybatis-spring:scan base-package="com.dev.company.mapper.**"/>

    <!-- MyBoardDAO용 : 세션 생성 빈(Mapper 인터페이스 사용 시에는 필요 없음) -->
    <bean id="sqlSession"
          class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
    </bean>

    <tx:annotation-driven />

    <!-- Spring Transaction 관리자 빈(dataSource빈을 주입 받음) -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

</beans>